*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #e8e8e8;
}
.navbar{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}
.navbar ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #706e6e;
    font-family: 'open sans';
    text-decoration: nome;
}
.menu li a:hover{
    color: #5590e9;
    transform: all .3s;
}

.submenu{
    position: absolute;
    background: #727272; 
    width: 130%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
}